@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
  --default-font-family: "Mulish", sans-serif;
  --scaling: 1.15;
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  image-rendering: auto;
}
