# port clients connect to
PORT=5000

# your secure SFU host
SFU_WS_HOST="wss://my_secure_sfu_websocket"

# comma separated list of URLs
STUN_SERVERS="stun:stun.l.google.com:19302"

# Name of the server
SERVER_NAME="My Brand New Server"

# Icon of the server
SERVER_ICON="https://placehold.co/128"

# Clients need invite to join
SERVER_INVITE_ONLY="false"

# Websocket allowed origins
# CORS_ORIGIN="*" # if you want to allow any clients to connect
CORS_ORIGIN="https://gryt.chat" # if you only want the official client to connect

# Websocket secret token
SERVER_TOKEN="123"